/* CSS */

html {
	font-size: 16px;
	  -webkit-font-smoothing: antialiased;
	  font-family: Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

/* */

.homebody{
	background-color: lightgray;
}

.content {
	font-size: 3vw; /*  3.7vw */
	width: 76vw;
	height: 96vh;
	margin: 0 10vw;
	padding: 2vh 2vw;
	background-color: white;
	/*opacity: .5;*/
	color: #051e28;
}

.content2 {
	margin: 24vh 10vw;
	height: 48vh;
}

.content3 {
	margin: 24vh 10vw;
	height: 48vh;
}

.contentbox a{
	background-color: #051e28;
	text-decoration: none;
	width: 50%; /* 33.33% */
	height: 30vh;
	float: left;
	text-align: center;
	color: white;
	padding: 9vh 0;
	box-shadow: inset 0 0 0 .01em;
	transition: .5s all;
}

.content3 .contentbox a {
	width: 33.33%; /* 33.33% */
}

.contentbox a i {
	margin: 5vh 0 5vh;
}

.contentbox a:hover {
	transform: scale(0.9,0.9); /* 1.1, 1.1 */
	background-color: #095880;
}

.contentbox a:active {
	color: lightgray;
}

.contentbox h2 {
	font-size: 1em;
}

.contentbox i {
	font-size: 2em;
}

.content:after {
	clear: both;
	content: "";
	display: block;
}

/* TABLE */

.tableshow {
	/* border: #051e28 solid 3px; */
	border-radius: 25px;
	background-color: white;
	margin: 1vh 1vw 5vh;
	width: 98vw;
	background-color: #21729b;
}

.tableshow th {
	padding: 0 1%;
	color: white;
	text-align: center;
}

.tableshow td {
	padding: 1.5% 0%;
	color: white;
	text-align: center;
}

.tablebuttonholder {
	width: 100%;
	display: inline-block;
}

.tablebutton {
	margin: 5vh 1vw 0;
	width: 48vw;
	float: left;
}

.tablebutton a {
	margin: 0 40%;	
	width: 20%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 2em;
	color: #098027;
	transition: .3s all;
}

.tablebutton a:hover {
	color: #0ea834;
}

/* Inner border only */

table {
	border-collapse: collapse;
	border-style: hidden;
}

table td {
	border: 1.2px solid white;
}

.edit {
	color: white;
	font-size: 1.5em;
}

.delete {
	color: #e81717;
	font-size: 1.5em;
}


.formcontent {
	font-size: 1em; /*  3vw */
	width: 60vw;
	height: 70vh;
	margin: 13vh 18vw;
	padding: 2vh 2vw;
	background-color: white;
	/*opacity: .5;*/
	color: #051e28;
}

